<!-- Partial that generates the header/title for each post -->

<header>
  <p class="meta">{{ .Date.Format "2 Jan 2006, 15:04" }}
    {{ if not .Site.Params.disableReadingTime }} - {{ .ReadingTime }} мин читать {{ end }}

    {{ if isset .Params "categories" }}
    <!-- in order to make category URLs work, we need to urlize them and
        convert them to lowercase 
        e.g. .NET Remoting -urlize-> .NET-Remoting -lowercase-> .net-remoting -->
      - {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}/">{{ . }} </a>{{ end }}
    {{ end }}
  </p>
  {{ if ($.Scratch.Get "isHome") }}<div class="entry-title">{{ else }}<h1 class="entry-title" itemprop="headline">{{ end }}
    {{ if ($.Scratch.Get "isHome") }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ else }} {{ .Title }} {{ end }}
  {{ if ($.Scratch.Get "isHome") }}</div>{{ else }}</h1>{{ end }}
</header>
