hgroup div+div {
    margin: .2em 0 0;
    font-size: 1em;
    color: #aaa;
}
hgroup a {
    font-size: 2.2em;
    line-height: 1.2em;
    text-decoration: none;
    color: #f2f2f2 !important;
}

article header p.meta {
    text-transform: none;
}

#content .blog-index a.full-article {
    background: #ebebeb;
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    color: #666;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s
}
#content .blog-index a.full-article:hover {
    background: #0181eb;
    text-shadow: none;
    color: #f8f8f8
}

.entry-title a {
    color: #222 !important;
    font-family: "PT Serif",Georgia,Times,"Times New Roman",serif;
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.2em;
    text-decoration: none;
}
.entry-title a:hover {
    text-decoration: underline !important;
}

div.entry-content > h2 {
    margin-top: 3em;
    font-size: 2.5em;
    line-height: 1em;
}

div.entry-content > h3 {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1em;
}

div.entry-content > h4{
    margin-top: 1em;
    font-size: 1em;
    line-height: 1em;
}

article pre {
    padding: 5px;
    overflow: auto;
    margin-bottom: 1em;
}

article .entry-content > table {
    margin-bottom: 1.5em;
    border: none;
}
    
article .entry-content > table th, article .entry-content > table td {
    padding: 5px;
    border: 1px solid #ccc;
}
 
article .entry-content > table th:first-child, article .entry-content > table td:first-child {
    border-left: none;
}
  
article .entry-content > table th:last-child, article .entry-content > table td:last-child {
    border-right: none;
}

article .entry-content > table th {
    color: #999;
    border-top: none;
}
 
article .entry-content > table tr:last-child td {
    border-bottom: none;
}

.sidebar-title {
    font-size: 1.2em;
    font-weight: bold;
}

.categories .category {
    margin-right: 0.2em;
}

@media(min-width: 1620px){
    .sidebar-nav {
        position: fixed;
        left: 7px;
        bottom: -15px;
        border-bottom: 0;
    }

    aside.sidebar .sidebar-nav a {
        color: #fff;
    }
    
    aside.sidebar .sidebar-nav a:hover .fa-twitter {
        color: #00f;
    }
    
    aside.sidebar .sidebar-nav a:hover .fa-github {
        color: #333;
    }
}

.fa-telegram.fa-3x {
    font-size: 2.4em;
}
.fa-at.fa-3x {
    font-size: 2.7em;
    padding-left: 5px;
}
.fa-twitter.fa-3x {
    font-size: 2.8em;
}

#content>div>article {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

article img {
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    /* width: calc(100% + 16px);
    margin-left: -8px;
    margin-right: -8px; */
}

/* /tags/ */
.list-entry-title {
    font-size: 1.5em;
    color: #222;
    margin-top: 1em;
    margin-bottom: .3em;
}
.list-entry-title a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    display: inline-block;
}