/* layout, header */
html, body>header, #main, #content, footer {
    background: none !important;
    border: none;
}
body>header {
    padding: 15px;
    /* margin-bottom: -40px; */
}
.site-title {
    float: left;
    width: 50%;
}
@media(max-width:420px) {
    body>header {
        padding: 8px;
    }
    .site-title a {
        font-size: 26px;
    }
}

hgroup div+div {
    margin: .2em 0 0;
    font-size: 1em;
    color: #999;
}
hgroup a {
    font-size: 2.2em;
    line-height: 1.2em;
    text-decoration: none;
    color: #222 !important;
}
header nav {
    background: none;
    border: none;
    float: left;
    width: 50%;
    text-align: right;
}
header nav a:visited {
    color: #666;
}
nav .subscription {
    margin: 0;
}
.main-navigation {
    display: none;
}
.mobile-nav {
    display: none;
}
fieldset[role="search"] {
    margin-top: 16px;
}
body>footer {
    margin: 0;
    padding-left: 8px;
    display: inline-block;
}
/* end layout */

/* fixed aside */
@media(min-width: 1520px) {
    body {
        max-width: 880px;
    }
    #content {
        margin: 0;
    }
    header nav {
        position: fixed;
        right: 8px;
        transition: 0.3s ease-in;
    }
    aside {
        position: fixed;
        display: block;
        right: 8px;
        margin: 0 !important;
        padding: 0 !important;
        transition: 0.3s ease-in;
    }

    .aside-hidden aside,
    .aside-hidden header nav {
        opacity: 0.1;
    }
    .aside-hidden aside:hover,
    .aside-hidden header nav:hover {
        opacity: 1;
    }
}
/* end fixed aside */

a {
    color: #222;
}
hr {
    margin: 60px;
    border: none;
    border-bottom: 1px solid #ccc;
}

article header p.meta {
    text-transform: none;
    margin-left: 2px;
}

h2:target,
h3:target,
h4:target,
h5:target {
    padding-top: 15px !important;
}
h2 .heading-anchor,
h3 .heading-anchor,
h4 .heading-anchor,
h5 .heading-anchor {
    display: none;
    position: absolute;
    left: -15px;
    width: 25px;
    height: 25px;
    /* margin-top: -5px; */
    /* margin-left: 0.5em; */
    font-size: 0.45em;
    vertical-align: middle;
    text-decoration: none;
}
h2:hover .heading-anchor,
h3:hover .heading-anchor,
h4:hover .heading-anchor,
h5:hover .heading-anchor {
    display: inline-block;
}

#content .blog-index a.full-article {
    background: #ebebeb;
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    color: #666;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s
}
#content .blog-index a.full-article:hover {
    background: #0181eb;
    text-shadow: none;
    color: #f8f8f8
}

.entry-title a {
    color: #222 !important;
    /* font-family: "PT Serif",Georgia,Times,"Times New Roman",serif; */
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
    text-decoration: none;
}
.entry-title a:hover {
    text-decoration: underline !important;
}

div.entry-content > h2 {
    margin-top: 3em;
    font-size: 2.5em;
    line-height: 1em;
}

div.entry-content > h3 {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1em;
}

div.entry-content > h4{
    margin-top: 1em;
    font-size: 1em;
    line-height: 1em;
}

@media(max-width: 420px) {
    h1 { font-size: 2em; }
    div.entry-content > h2 { font-size: 2em; }
}

article pre {
    padding: 5px;
    overflow: auto;
    margin-bottom: 1em;
}

article .entry-content > table {
    margin-bottom: 1.5em;
    border: none;
}
    
article .entry-content > table th, article .entry-content > table td {
    padding: 5px;
    border: 1px solid #ccc;
}
 
article .entry-content > table th:first-child, article .entry-content > table td:first-child {
    border-left: none;
}
  
article .entry-content > table th:last-child, article .entry-content > table td:last-child {
    border-right: none;
}

article .entry-content > table th {
    color: #222;
    border-top: none;
    text-align: left;
}
 
article .entry-content > table tr:last-child td {
    border-bottom: none;
}

.sidebar-title {
    font-size: 1.2em;
    font-weight: bold;
}

.categories .category {
    margin-right: 0.2em;
}

aside.sidebar {
    border: none;
    text-align: right;
}
aside.sidebar li {
    border: none;
}
.fa-telegram.fa-3x {
    font-size: 2.4em;
}
.fa-at.fa-3x {
    font-size: 2.7em;
    padding-left: 5px;
}
.fa-twitter.fa-3x {
    font-size: 2.8em;
}

#content>div>article {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

article img {
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    /* width: calc(100% + 16px);
    margin-left: -8px;
    margin-right: -8px; */
}

/* /tags/ */
.list-entry-title {
    font-size: 1.5em;
    color: #222;
    margin-top: 1em;
    margin-bottom: .3em;
}
.list-entry-title a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    display: inline-block;
}

.spoiler {
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    /* border-radius: 3px; */
    padding: 10px 0;
    /* display: inline-block; */
    margin: 30px 0;
}
.panel-heading {
    display: inline-block;
}
.panel-heading a{
    text-decoration: none;
    color: #222;
}
.panel-heading h2,
.panel-heading h3,
.panel-heading h4,
.panel-heading h5{
    display: inline;
}
.panel-heading .spoiler-link:hover::after {
    content: '⬆';
}
.panel-heading .spoiler-link.collapsed::after {
    content: '⬇';
}
.collapse {
    display: none;
}
.collapse.in {
    display: block;
}

.punch {
    border: 5px solid #0181eb;
    font-family: Helvetica;
    font-size: 22px;
    line-height: 1.5em;
    padding: 15px 0;
    text-align: center;
    margin: 30px 0;
}
